/**
 * Cache Module Style Sheet for Phire CMS 2
 */

td.cache-col {
    padding-right: 15px;
    width: 20%;
    text-align: right;
}

#cache_lifetime_value {
    margin-right: 9px;
    padding: 5px 4px 6px 4px;
    height: 21px;
    float: left;
    font-size: 1.0em;
    text-align: center;
}

#cache_status, #cache_adapter {
    width: 128px;
}

#cache_lifetime_unit {
    width: 80px;
}